<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-layout}"
      lang="en"
      xml:lang="en">
<head>
    <style>
        .card-text {
            overflow: hidden; /* Potong teks yang melampaui batas */
            white-space: nowrap; /* Tidak membungkus teks */
            text-overflow: ellipsis; /* Tambahkan "..." di akhir teks */
            display: block; /* Pastikan teks diperlakukan sebagai blok */
        }
    </style>
    <title>News</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">News</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a th:href="@{/user/dashboard}">User Dashboard</a></li>
            <li class="breadcrumb-item active">News</li>
        </ol>
        <div class="container-fluid">
            <div class="row g-3">
                <div th:each="news :${newsList}" class="d-flex col-12 col-md-6 col-lg-3 align-items-stretch">
                    <div class="card">
                        <img class="card-img-top w-100 h-100 p-1" th:src="${news.imageUrl}" alt="..." />
                        <div class="card-body mb-3">
                            <a th:text="${news.title}" class="card-title" th:href="${news.source }"></a>
                            <p th:text="${news.content}" class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
